body {
  background-color: #c35;
  margin-bottom: 0.5rem;
}

ul {
  list-style: square;
}

#nav {
  padding-bottom: 0.15em;
}

#nav h2 {
  font-weight: bold;
}

#main {
  padding-bottom: 2em;
  background-color: #fff;
}

hr {
  border: 0.1em solid #000;
}

h2 strong {
  background-color: #fff2e6;
}

code {
  display: inline-block;
}
