body {
  font-family: 'Helvetica', sans-serif;
  background-color: #c35;
  margin-bottom: 0.5rem;
  font-size: 1em;
}

#main {
  padding: 2em;
  margin: 0;
  background-color: #fff;
  border-radius: 0.5em;
}

#clone_options_wrapper {
  display: block;
  padding-bottom: 2em;
}

.clone_option {
  display:inline-block;
}

ul {
  list-style: square;
}

hr {
  border: 0.1em solid #000;
}

h2 strong {
  background-color: #fff2e6;
}

code {
  display: inline;
  padding: 0.25em;
  margin: 0 0.15em;
  color: #123;
  font-family: "Helvetica", sans-serif;
  font-size: 0.9em;
  border-style: solid;
  border-width: thin;
  border-color: #a54;
  border-radius: 0.2em;
  background-color: rgb(255, 182, 193);
  background-color: rgb(255, 182, 193, 0.2);
}
