Package: classman-1.0.0
Version: 1-1
Architecture: all
Maintainer: Vagrant Default User <vagrant@debian-jessie.vagrantup.com>
Installed-Size: 61
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
